body {
  margin: 0;
  font-size: 12px;
  width: 100vw;
  height: 100vh;
  font-family: 'Inconsolata', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid var(--LightGrey);
  font-size: 1rem;  
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  padding: .5rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

textarea {
  padding: 5rem;
  margin-top: 1rem;
  text-align: left !important;
}

:root {
  --LightGrey: rgb(227,227,227);
  --DarkBlue: rgb(3,37,65);
  --LightBlue: rgb(1,180,228);
  --MainColor: rgb(182, 45, 30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
